div {
  background-color:transparent;
  color:white;
  font-family:sans-serif;
  font-size:16;
  text-align:justify
}
a {
  text-decoration:none;
  color:#96FFFF
}

h1 {
  font-style:bold;
  font-size:16;
  text-align:center;
  hyphens:auto;
  margin-top:0;
  margin-bottom:1em;
}
p {
  font-size:16;
  text-align:justify;
  hyphens:auto;
  margin-top:0;
  margin-bottom:1em;
  word-break:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}

img {
  width:96%;
  height:auto;
  border:1px solid white;
  display:block;
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
}
pre {
  font-family:sans-serif;
  font-size:12;
  text-align:center;
  font-style:italic;
  margin-top:0;
  margin-bottom:1em;
}

ul {
  padding-left:em;
  margin-top:0;
  margin-bottom:1em;
}
ol {
  padding-left:em;
  margin-top:0;
  margin-bottom:1em;
}
li {
  margin-top:0;
  margin-bottom:0em;
}

blockquote {
  margin-top:0;
  margin-bottom:1em;
}

hr {
  background-color:#fff;
  border:none;
  color:#fff;
  height: 1px;
  margin-top:1.25em;
  margin-bottom:1em;
}
